* {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}
body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

header {
  background: #444;
  border-style: solid;
  border-color: #000;
  border-width: 0px 0px 2px 0px;
  color: #FFF;
  font-size: 35px;
  font-weight: 600;
  height: 49px;
  left: 0px;
  padding: 8px 25px;
  position: fixed;
  top: 0px;
  width: 100%;
}
header>p>a {
  color: #FFF;
  text-decoration: none;
}
#userPanel {
  position: fixed;
  top: 10px;
  right: 50px;
  z-index: 50;
  font-size: 16px;
}
#userPanel>a {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

div#board {
  background: #FFF;
  height: 100px;
  margin-left: 102px;
  -webkit-box-shadow: inset 0px 0px 15px -2px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 15px -2px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 15px -2px rgba(0,0,0,0.5);
}

form#signup,
form#login {
  display: block;
  width: 300px;
  margin: 200px auto;
  font-size: 20px;
  font-weight: 600;
}
form#signup label,
form#signup input,
form#login label,
form#login input {
  display: block;
}
form#signup label,
form#login label {
  margin-top: 10px;
}
form#signup input,
form#login input {
  height: 25px;
  width: 240px;
  border-radius: 5px;
}
form#signup input:nth-last-child(1),
form#login input:nth-last-child(1) {
  margin-bottom: 10px;
}

/* Palette */
div#palette {
  background: #333;
  border-style: solid;
  border-color: #000;
  border-width: 0px 2px 0px 0px;
  width: 100px;
  float: left;
  height: 100px;
  padding: 5px;
}
div#palette>.button {
  width: 40px;
  height: 40px;
  background: #FFF;
  border-radius: 5px;
  margin: 5px;
  float: left;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 15px -2px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 15px -2px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 15px -2px rgba(0,0,0,0.5);
}
div#palette>.button:hover {
  -webkit-box-shadow: inset 0px 0px 25px -2px rgba(8,173,250,1);
  -moz-box-shadow: inset 0px 0px 25px -2px rgba(8,173,250,1);
  box-shadow: inset 0px 0px 25px -2px rgba(8,173,250,1);
}
div#palette>.button.active {
  background: rgba(8,173,250,1);
}
div#palette>.button>img {
  width: 28px;
  height: 28px;
  margin: 5px;
}
.cursor-brush {
  cursor: url('../images/icons/Brush-outline.png'), none !important;
}